#update-animal, #add-animal {

  .form-wrapper {
    background-color: #ffffff;
    border: 1px solid $colorGray2;
    box-shadow: 0 0 10px $colorGray2;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 30px;
  }

  .share {
    margin: 20px 0;
  }

  .photo {
    img {
      width: 100%;
    }
  }

  .table {
    tr {
      td {
        &:first-of-type {
          width: 230px;
        }
      }
    }
  }

  #map {
    width: 100%;
    height: 200px;
    border: 1px solid $colorGray2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .captcha {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  @media(max-width: 767px) {
    width: 100%;
    .table {
      font-size: 13px;
      tr {
        td {
          &:first-of-type {
            width: 150px;
          }
        }
      }
    }
  }

}