#user {

  margin-bottom: 30px;

  .user-header {
    margin-bottom: 30px;
    .wrapper {
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid $colorGray2;
      box-shadow: 0 0 10px $colorGray2;
      padding: 20px;
      h3 {
        font-size: 23px;
        font-weight: 500;
        color: #000;
        margin: 0 0 15px 0;
      }
      ul {
        list-style: none;
        font-size: 0;
        li {
          font-size: 0;
          display: inline-block;
          margin-right: 25px;
          &:last-of-type {
            margin-right: 0;
          }
          a {
            font-size: 22px;
            color: $colorGray3;
            &.active {
              color: $colorGray4;
            }
          }
        }
      }
    }
  }

  .user-animals {
    .animal {
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border: 1px solid $colorGray2;
      box-shadow: 0 0 10px $colorGray2;
      border-radius: 3px;
      margin-bottom: 30px;
      min-height: 130px;
      .photo {
        img {
          width: 205px;
        }
      }
      .description {
        margin-left: 10px;
        h3 {
          font-size: 17px;
          color: #000;
          .species {
            color: $colorGray4;
          }
          margin: 0 0 10px 0;
        }
        p {
          margin: 0;
          font-size: 13px;
        }
        .status {
          margin-top: 10px;
        }
        .status-finish-reason {
          font-size: 12px;
          font-weight: 500;
          color: $colorGreen;
        }
      }
      .buttons {
        margin-right: 10px;
        .btn {
          display: block;
          margin-bottom: 10px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &.user-settings {

    .card-header {
      padding: 10px !important;
    }

    .table-responsive {
      max-height: 300px;
      overflow-y: auto;
    }

    .history-table {
      font-size: 13px;
    }

  }

  @media(max-width: 767px) {
    .user-header {
      .wrapper {
        //width: 300px;
        margin: 0 auto;
        .ml-5 {
          margin-left: 15px !important;
        }
        ul {
          li {
            a {
              font-size: 18px;
            }
          }
        }
      }
    }
    .user-animals {
      .animal {
        display: block;
        width: 300px;
        margin: 0 auto 30px auto;
        .photo {
          img {
            width: 100%;
          }
        }
        .description {
          padding: 10px;
          text-align: center;
          .status {
            margin-bottom: 10px;
          }
          .status-finish-reason {
            display: block;
          }
        }
        .buttons {
          padding: 0 10px 10px 10px;
          margin: 0;
          text-align: center;
          .btn {
            margin: 0 10px 0 0;
            &:last-of-type {
              margin: 0;
            }
            display: inline-block;
          }
        }
      }
    }
  }

}