html, body{
    background-color: white;
    color:#232323;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.greenFont{
    color: #3EB100;
}
img{
    width: 100%;
    height: auto;
}
.mainNav{
    font-size: 12px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.logo{
    display: block !important;
    
}
.mobile{
    display: none !important;
}
.mainNav .navItems{
    display: inline-flex;
    flex-wrap: wrap;
}

.mainNav .rightSide{
    display: inline-flex;
    padding-top: 2.5vh;
}
.mainNav .navItem{
    display: inline-flex;
    flex-wrap: wrap;
}
.mainNav .navItem .text p{
    width: 100%;
}
.mainNav .navItem .text .higher{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}
.mainNav .navItem .text .lower{
   font-size: 10px;
   color: #9A9A9A;
   padding-top: 0px;
   margin-top: 0px;
}
#carBig{
    padding:0px;
}
.offers{
    padding-top: 5vh;

}
.headline{
    position: relative;
    height: 5vh;
}
.headline .bottomBorder{
    border-bottom: 2px #EFEFEF solid;
    position: absolute;
    height: 100%;
}
.headline h2{
    width: 20%;
    text-align: center;
    margin-left: 40%;
    border-bottom: 2px #3EB100 solid;
    position: absolute;
    height: 100%;
    top: 0px;
}
.services{
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 3vh;
    margin-bottom: 2vh;
    padding: 0px 20px;
}
.services .serviceItem{
    display: inline-flex;
    flex-wrap: wrap;
}
.services .topic{
    font-size: 18px;
}
.services .description{
    font-size: 12px;
    color: #545454
}
#gallery{
    display: inline-flex;
    flex-wrap: wrap;
}
#gallery img{
    width: 25%;
}
.about{
    padding-top: 5vh;
}
.about #aboutDescription{
    padding-top: 3.5vh;
    text-align: center;
}
footer{
    background-color: #2E2E2E;
    margin-top: 5vh;
    color: #FFF;
    display: inline-flex;
    flex-wrap: wrap;
    padding-bottom: 0px !important;
    margin-bottom: 0px;
}
footer .copyright{
    background-color: #1C1B1B;
    color: rgba(255, 255, 255, 0.43);
    margin: 0px;
    margin-top: 1vh;
    display: inline-flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    flex-wrap: wrap;
}

/* wersja mobilna - edycje */

@media(max-width: 672px){
    .mainNav .godzina{
        display: none;
    }
    .pc{
        display: none !important;
    }
    .mobile{
        display: block !important;
        text-align: center;
    }
    .mainNav .graphic{
        text-align: center;
        padding-bottom: 0px;
    }
    .mainNav .text{
        text-align: center;
    }
    .mainNav .navItem .text .higher{
        font-size: 9px;
    }
    .mainNav .navItem .text.lower{
        font-size: 7px;
    }
    .headline{
        padding-bottom: 0px;
    }
    .headline.top h2{
        top: 2px;
    }
    .headline h2{
       font-size: 16px;
       padding-bottom: 0px;
    }
    .services{
        padding: 0vh 7vh;
    }
    .services .topic{
        font-size: 12px;
        padding: 0px;
        margin: 0px;
    }
    .offers .headline, .offers .bottomBorder{
        padding-bottom: 4vh;
        height: auto;
    }
    .offers h2, .about h2{
        width: 40%;
        text-align: center;
        margin-left:30%;
    }
    .serviceItem{
        margin: 0px;
        padding: 1.25vh 2vh;
    }
    .services .description{
        font-size: 10px;
        color: #545454;
    }
    .serviceItem:last-child{
        border-bottom: 0px;
    }
    .offers .photo{
        height: 100%;
        padding-top: 3%;
    }

    #gallery img{
        margin: 1.25% 12.5%;
        width: 75%;
    }

    .about #aboutDescription{
        font-size: 10px;
        padding: 1vh 4vh;
        padding-top: 3vh;
    }

    footer{
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }    
    footer .copyright{
        text-align: center;
        margin-bottom: 0px !important;
        font-size: 8px;
    }

}